################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64/Debug
/eboot.bin
/pkg.gp4
